{% extends 'wishlist/base.html' %}
{% block pagetitle %}My Wish List{% endblock %}
  {% block main %}
    <h3>My Wish List</h3>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Added By</th>
        <th>Date Added</th>
        <th>Action</th>
      </tr>
      {% for product in user_wishlist %}
      <tr>
        <td><a href="{% url 'wishlist:show' id=product.id %}">{{product.name}}</a></td>
        <td>{{product.added_by.name}}</td>
        <td>{{product.created_at|date:'M d, Y'}}</td>
        <td>
          {% if product.added_by.id == request.session.user_id %}
          <a href="{% url 'wishlist:destroy' id=product.id %}">delete</a>
          {% else %}
          <a href="{% url 'wishlist:remove' id=product.id%}">remove from my list</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <br><br>
    <h3>Items on Others' Wish Lists</h3>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Added By</th>
        <th>Date Added</th>
        <th>Action</th>
      </tr>
      {% for product in other_items %}
      <tr>
        <td><a href="{% url 'wishlist:show' id=product.id %}">{{product.name}}</a></td>
        <td>{{product.added_by.name}}</td>
        <td>{{product.created_at|date:'M d, Y'}}</td>
        <td><a href="{% url 'wishlist:addToList' id=product.id %}">add to my list</a></td>
      </tr>
      {% endfor %}
    </table>
    <p><a href="{% url 'wishlist:addItem' %}" class="btn btn-primary">Add Item</a></p>
  {% endblock %}
